body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #F6EAFF;
    color: #7101A6;
    padding: 40px;
    text-align: center;
    font-size: 24px;
}

.sections {
    display: flex;
    flex-grow: 1;
}

.section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #7101A6;
    border: 1px solid #7101A6;
    border-top: none;
}

.bottom {
    background-color: #F6EAFF;
    color: #7101A6;
    border: #7101A6;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}