@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  .container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .lilac-container {
    background-color: #F6EAFF;
    color: #7101A6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .big-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #7101A6;
    font-size: 60px;
  }

  .mid-text{
    font-family: 'Poppins', sans-serif;
    color: #7101A6;
    font-size: 45px;
  }

  .img-container{
    display:flex;    
    justify-content: flex-end;
    width: 100%;

  }
  .img-style{
    height: 200px;
    width: 200px;
  }

  ol li {
    min-height: 25.7vh;
    font-size: 30px;
    line-height: 1em;
    color: #7101A6;
  }