html, body {
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 200px;
  }

  #score-container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #start-button {
    color: white;
    background-color: black;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 25px;
  }

  canvas {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .hands {
    height: 100px;
    background-color:blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 25px 50px 25px 50px;
  }

  .circle {
    height: 50px;
    width: 50px;
    color: white;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    margin: 2rem;
    margin-right: 35px;
  }

  .up-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    margin: 2rem;
    margin-bottom: 35px;
  }

  .right-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    margin: 2rem;
    margin-left: 35px;
  }

  .down-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    margin: 2rem;
    margin-top: 35px;
  }

  .active-left {
    border-right: 15px solid blueviolet;
  }

  .active-up {
    border-bottom: 15px solid blueviolet;
  }

  .active-right {
    border-left: 15px solid blueviolet;
  }

  .active-down {
    border-top: 15px solid blueviolet;
  }
